.permissions-container {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.permissions-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.permissions-title span {
  color: red;
}

.permissions-list {
  list-style-type: none;
  padding: 0;
}

.permissions-list > li {
  margin: 10px 0;
}

.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.toggle-button {
  width: 20px;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.toggle-button:hover {
  background-color: #0056b3;
}

.permissions-list ul {
  list-style-type: none;
  margin-left: 20px;
  padding: 0;
}

.permissions-list label {
  margin-left: 5px;
  cursor: pointer;
}

.permissions-list input[type="checkbox"] {
  cursor: pointer;
}


/* New css */
.permissions-table {
  width: 100%;
  border-collapse: collapse;
  /* font-family: Arial, sans-serif; */
}

.permissions-table thead {
  background-color: #f3f3f3;
}

.permissions-table th,
.permissions-table td {
  text-align: left;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
}

.permissions-table input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #007bff;
}
